---
import Layout from "@/layouts/Layout.astro";
export const prerender = true;
---

<Layout
  title="XauenDevs 🫒 Desarrollo en Jaén"
  description="Comunidad de desarrollo y tecnología de la provincia de Jaén. ¡Únete!"
>
  <main class="flex flex-col gap-8">ESTAMOS TRABAJANDO EN NUESTRO BLOG</main>
</Layout>
