---
import Banner from "@/components/Banner.astro";
import Header from "@/sections/Header.astro";
import Layout from "@/layouts/Layout.astro";
import AboutUs from "@/sections/AboutUs.astro";
import Partners from "@/sections/Partners.astro";
import Pivos from "@/sections/Pivos.astro";
---

<Layout
  title="XauenDevs 🫒 Desarrollo en Jaén"
  description="Comunidad de desarrollo y tecnología de la provincia de Jaén. ¡Únete!"
>
  <main class="flex flex-col gap-8">AQUI MI BLOG</main>
</Layout>

<style></style>
