<div
  class="flex items-center bg-accent px-4 py-2 lg:px-6 lg:py-3 text-[10px] lg:text-xs rounded-full z-[888]"
>
  <span class="font-bold">Próximo evento:</span>
  <span class="ml-2">
    <img src="/img/calendar_today.svg" class="size-4 lg:size-5" />
  </span>
  <div class="flex flex-col ml-2 max-w-60">
    <span
      class="font-bold text-ellipsis whitespace-nowrap overflow-hidden"
      title="Tras los píxeles, Descifrando el código de la Realidad Virtual y Aumentada"
    >
      Tras los píxeles, Descifrando el código de la Realidad Virtual y Aumentada
    </span>
    <span> 26/04/2024 * 19:00 </span>
  </div>
</div>
