---
import NextEventInfo from "./NextEventInfo.astro";
---

<div
  class="flex items-center bg-accent px-4 py-2 lg:px-6 lg:py-3 text-[10px] lg:text-xs rounded-full z-[888]"
>
  <span class="font-bold">Próximo evento:</span>
  <NextEventInfo server:defer>
    <span slot="fallback" class="ml-2">No hay evento programado</span>
  </NextEventInfo>
</div>
