---
interface Props {
  name: string;
  url: string;
  mainColor?: string;
  logo: string;
}

const { name, logo, url } = Astro.props;
const { STRAPI_HOST } = import.meta.env;
---

<a href={url} class="h-full">
  <img src={`${STRAPI_HOST}${logo}`} alt={`Logo de ${name}`} class="h-full" />
</a>
