<section class="grid grid-cols-1 md:grid-cols-[40%_60%]" id="own-mission">
  <div class="bg-black/5 rounded-3xl p-7 lg:p-10 md:mr-8 mb-8 md:mb-0">
    <h1 class="font-bold text-2xl">Nuestra misión</h1>
    <section class="mt-4">
      <details name="about-us" open>
        <summary class="text-xl"> ¿Qué somos? </summary>
        <p class="mt-4">
          XauenDevs nace en 2017 como comunidad de desarrolladores de software
          en la provincia de Jaén. Nuestro principal objetivo es difundir
          conocimiento sobre desarrollo y tecnología en general.
        </p>
      </details>
      <hr />
      <details name="about-us">
        <summary class="text-xl"> ¿Qué queremos? </summary>
        <p class="mt-4">
          Entre otras tantas actividades, nuestra principal labor se basa en
          organizar charlas mensuales con diferentes temáticas y profesionales
          de distintos campos, siempre relacionados con la tecnología.
        </p>
      </details>
      <hr />
      <details name="about-us">
        <summary class="text-xl"> ¿Quiénes somos? </summary>
        <p class="mt-4">
          Actualmente, XauenDevs los conformamos 4 personas: Alberto Tejero,
          Alejandro, Adrián y Alberto. Todos somos muy apasionados por el
          desarrollo y la tecnologí y tratamos de transmitirlo en cada actividad
          que realizamos.
        </p>
      </details>
    </section>
  </div>
  <div class="max-h-[400px] min-h-[400px] overflow-hidden relative rounded-3xl">
    <div
      id="background-image"
      class="absolute left-0 top-0 bottom-0 right-0 w-full h-full opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat z-10 saturate-50 brightness-75"
      style=`background-image:url('/img/home.webp')`
    >
    </div>
  </div>
</section>

<style>
  summary {
    display: flex;
  }
  :root {
    interpolate-size: allow-keywords;
  }
  details {
    overflow: clip;
    cursor: pointer;
  }
  details::details-content {
    height: 0;
    transition:
      height 0.3s,
      content-visibility 0.3s allow-discrete;
  }

  details[open]::details-content {
    height: auto;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #003d40;
    margin: 1em 0;
    padding: 0;
  }
</style>
