---
import PreFooter from "@/components/PreFooter.astro";
---

<footer class="flex flex-col items-center p-8 md:p-10 gap-5">
  <PreFooter />
  <div class="flex group">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="orange"
      class="w-3 mr-2 fill-[#FCAB5E] grayscale group-hover/logo:grayscale-0"
      ><path
        d="M24,20v4h-12v-4h12ZM4,16v4H0v-4h4ZM8,12v4h-4v-4h4ZM12,8v4h-4v-4h4ZM8,4v4h-4v-4h4ZM4,0v4H0V0h4Z"
      ></path></svg
    >
    <span class="font-extralight">hecho con 💚 en Jaén</span>
  </div>
</footer>
