---
import FromFor from "../components/FromFor.astro";
---

<div
  class="h-[calc(100vh-140px)] rounded-3xl bg-black flex flex-col justify-end p-8 md:p-10 gap-8 md:gap-10 overflow-hidden relative"
>
  <FromFor class="z-10" />
  <div class="flex justify-between items-center z-10">
    <button class="bg-white rounded-xl text-black px-10 h-12 font-semibold">
      Descubre más
    </button>
  </div>
  <div
    id="background-image"
    class="absolute left-0 top-0 bottom-0 right-0 w-full h-full opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat saturate-50 brightness-75"
    style=`background-image:url('/img/header.JPG')`
  >
  </div>
</div>
