---
import PartnerItem from "@/components/PartnerItem.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import { PARTNERS } from "@/consts/partners";
---

<section
  class="w-full flex justify-between p-8 lg:p-10 flex-col lg:flex-row gap-10"
>
  <div class="lg:max-w-[650px]">
    <SectionTitle title="Partners" />
    <p class="text-sm md:text-lg">
      Estamos agradecidos por la colaboración de estas empresas que hacen
      posible nuestras charlas tecnológicas. Su apoyo nos permite seguir
      creciendo y compartiendo conocimiento con la comunidad de desarrolladores
      en Jaén.
    </p>
  </div>
  <div
    class="grid grid-cols-2 lg:max-w-[520px] items-center justify-between gap-8 lg:gap-10"
  >
    {
      PARTNERS.map(({ name, logo, url }) => (
        <PartnerItem name={name} logo={logo} url={url} />
      ))
    }
  </div>
</section>
