---
import ArrowRight from "@/components/icons/ArrowRight.astro";
import PivosContainer from "@/components/PivosContainer.astro";

import SectionTitle from "@/components/SectionTitle.astro";
---

<section id="pivos" class="bg-black/5 rounded-3xl p-7 lg:p-10 overflow-hidden">
  <SectionTitle title="PivoAndCode" />
  <div class="flex justify-between w-full">
    <div class="flex">
      <p class="lg:max-w-[40%] text-sm lg:text-base">
        Sumérgete en la tecnología con nuestras charlas PivoAndCode. Explora
        temas de vanguardia mientras haces conexiones significativas. Únete a
        nosotros para aprender y ampliar tu red. ¡Te esperamos en nuestras
        próximas charlas!
      </p>
    </div>
    <div class="hidden md:flex gap-2">
      <ArrowRight
        id="left-scroll"
        class="size-10 text-accent rotate-180 transition-all duration-400"
      />
      <ArrowRight
        id="right-scroll"
        class="size-10 text-accent transition-all duration-400"
      />
    </div>
    <div>
      <span></span>
    </div>
  </div>
  <PivosContainer server:defer />
</section>
