---
import Footer from "@/sections/Footer.astro";
import Header from "@/components/Navbar.astro";
import "@fontsource/roboto";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="p-10">
      <slot class="" />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #ddd;
    --color-secondary: #333;
    --color-accent: #f6b703;
    --color-accent-rgb: 213, 255, 0;

    --background-color: rgb(10, 12, 0);
    --background-twitch: var(--color-twitch-ice);

    --color-twitch: #9146ff;
    --color-twitch-ice: #f0f0ff;
  }

  html {
    font-family: "Roboto Flex Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
</style>
